.search-container {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  box-shadow: 0 2px 4px var(--tertiary-color);
  width: 100%;
  max-width: 600px;

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    background: transparent;
    color: #333;

    &::placeholder {
      color: var(--blur-color);
    }
  }

  .search-button {
    background: none;
    border: none;
    color: var(--shadow-color);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--black-color);
    }
  }
}
