:host {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 218, 40);
}

.product-container {
  &:hover {
    background-color: chocolate;
  }
  .product-image {
    width: 10vw;
    height: 15vh;
  }
}
