<main class="login-container">
  <p-button
    class="login-container__close-btn"
    icon="pi pi-times"
    [text]="true"
    [rounded]="true"
    size="small">
  </p-button>

  <header class="login-container__header">
    <img class="login-container__logo" src="assets/logos/logo.svg" alt="Logo do Econômetro" />
    <p class="login-container__description">Compare preços, veja o histórico do valor do produto nos últimos tempos e ative alerta de compra</p>
  </header>

  <form class="login-container__form" (ngSubmit)="login()">
    <fieldset class="login-container__fieldset">
      <legend class="login-container__legend">Dados de acesso</legend>

      <div class="login-container__input-group">
        <label class="login-container__label" for="email">Email</label>
        <p-inputGroup>
          <input
            pInputText
            id="email"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Digite seu e-mail"
            required
            class="login-container__input" />
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>

      <div class="login-container__input-group">
        <label class="login-container__label" for="password">Senha</label>
        <p-inputGroup>
          <input
            pInputText
            id="password"
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Digite seu email"
            required
            class="login-container__input" />
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>

      <p-button
        class="login-container__submit-btn"
        type="submit"
        label="Entrar"
        [disabled]="loading"
        [loading]="loading">
      </p-button>
    </fieldset>
  </form>

  <nav class="login-container__nav">
    <a class="login-container__forgot-link" href="#">Esqueceu a senha?</a>

    <p-divider align="center" type="solid">
      <span class="login-container__divider-text">ou</span>
    </p-divider>

    <p-button
      class="login-container__register-btn"
      type="button"
      label="Registre-se"
      [outlined]="true"
      (click)="register()">
    </p-button>
  </nav>
</main>

